// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 
  .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-lest: -15px;
 }
 
 h2 {
   font-size: 2rem;
 }
 
 .table {
   width: 100%;
   margin-bottom: 1rem;
 }
 
 tbody {
   display: table-row-group;
   vertical-align: middle;
   border-color: inherit;
 }
 
 tr {
   display: table-row;
   vertical-align: inherit;
   border-color: inherit;
 }
 
 th {
   text-align: inherit;
 }
 
 .table th,
 .table td {
   padding: 0.75rem;
   vertical-align: top;
   border-top: 1px solid #dee2e;
 }
 
 .form-control-file {
     display: block;
     width: 100%;
 }